#navbar{
    background-color: #e3f2fd;
}
body{
    position:relative;
}
.jumbotron{
    background-image:url("background4.jpg");
    text-align:center;
    margin-top:50px;
}
        
#email{
    width:300px;
}
.summary{
    text-align:center;
    margin:50px;
}
.card-img-top{
    width:100%;
    height:200px;
}
#footer{
    text-align:center;
    background-color: burlywood;
    padding:70px;
    margin-top:40px;
}
.footerimage{
    width:200px;
}